.container {
  text-align: center;
  margin-top: 80px;
  font-family: Arial, sans-serif;
  color: #ff55aa; /* Rosa forte */
}

.numero {
  font-size: 48px;
  margin: 20px 0;
  color: #ff1493; /* Rosa profundo */
}

.botao {
  background-color: #ff69b4; /* Rosa claro */
  color: white;
  padding: 12px 24px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.botao:hover {
  background-color: #ff1493; /* Rosa mais vibrante */
}
